<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honeywell.cube.qrcode">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">


        <activity android:name=".CaptureActivity"></activity>

        <activity android:name=".CaptureInputActivity"></activity>
    </application>

</manifest>
